html, body{
    height: 100%;
}

body{
    background: #f1f1f1;
}

.nav-main-layout{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
}

#rosia-main-wrapper {
    height: 100%;
}

#rosia-side-nav{
    position: relative;
    width: 270px;
}

#rosia-side-nav a{
    height:58px;
}

#rosia-side-nav .rosia-third-level-menu a{
    padding: 0 37.5px 0 60px;
}

/*#rosia-side-nav li, #rosia-side-nav li a{
    background-color: #eeeeee;
}*/


#rosia-page-footer{
    margin-top: 0 ;
    padding-top: 0 ;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#rosia-side-nav{
    z-index: 99;
}

#rosia-container{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: auto;
}

.rosia-pre-loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1005 !important;
}

.nav-wrapper{
    padding :  5px 15px;
    line-height: 45px;
}

.app-title{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}

.nav-wrapper .material-icons{
    display: inline-block;
}


.side-nav a{
    border-bottom: 1px solid #EEEEEE;
    line-height: 58px;
}

/*General classes*/
.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}


.nav-bar-icons{
    position: absolute;
    top: 7px;
    right: 0px;
}

.nav-bar-icons .material-icons{
    font-size: 18px;
    padding-right: 10px;
}


.nested-list{
    padding: 12px 0 !important;
}

.nested-list-header{
    font-weight: 500;
    margin-bottom: 15px !important;
}

/*Login screen*/

.login-wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.user-session-wrapper{
    display: flex;
    flex: 1;
    justify-content: flex-end
}

.user-session-name{
    padding: 0 15px;
    display: flex;
    align-items: center
}

.user-session-designation{
    padding: 0 10px;
    display: flex;
    align-items: center
}

.logout-icon-wrapper{
    border-radius: 50%;
    padding: 15px;
}

/* label focus color */
.input-field input:focus + label {
    color: #E57373 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #E57373 !important;
    box-shadow: 0 1px 0 0 #E57373 !important;
}

/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.tabs-view .tabs .active{
    border-bottom: 1px solid #ee6e73;
}

/*.tabs-view .tab-content{
    margin-top: 0;
}*/



/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
.fade.ng-leave {
    animation: my_fade_animation 0.5s linear;
    -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
    from { opacity:1; }
    to { opacity:0; }
}

/*General Image Dialog*/
#materialbox-overlay{
    z-index: 1999;
}

.material-placeholder img.active{
    z-index: 1999 !important;
}

/*.lean-overlay{
    z-index: 1996 !important;
}

.modal{
    z-index: 1998 !important;
}

.modal-wrapper{
    z-index: 1997 !important;
}*/

/*Retail Outlet Detail Image Dialog*/
#retail-outlet-gallery-view .material-placeholder{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.02);
}

#retail-outlet-gallery-view .image-wrapper{
    padding: 0.75rem 0.75rem;
}

#retail-outlet-gallery-view img{
    height: 200px;
    max-width: 100%;
}

#retail-outlet-gallery-view img.active{
    max-width: none !important;
}

.custom-dropdown-trigger{
    cursor: pointer;
}

span.badge{
    right: 0px;
    color: #ffffff;
    min-width: 2rem;
}


.role-active{
    background: #ffffff;
}

.cursor-marker{
    cursor: pointer;
}

.row .col{
    min-height: 5px;
}

.relative-position{
    position: relative;
}

.dropdown-button, .modal-trigger{
    cursor: pointer;
}

.sortOrder:after {
    content: '\25b2';    /*BLACK UP-POINTING TRIANGLE*/
}
.sortOrder.reverse:after {
    content: '\25bc';    /*BLACK DOWN-POINTING TRIANGLE*/
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    position: static;
}

.cursor-pointer {
    cursor: pointer;
}

.side-nav{
    top: 64px;
}

.filter-sidenav{
    width: 375px !important;
}

.filter-sidenav .collapsible-header{
    padding: 0 10px !important;
}

.filter-sidenav .collapsible-body{
    padding: 0 30px !important;
}

.white-background{
    background-color: #fff;
}

.grid-header-bar{
    font-weight: 500;
    padding: 5px 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #FAFAFA;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.card-header-bar{
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 !important;
    background-color: #004660;
    min-height: 50px;
}

.no-margin{
    margin: 0 !important;
}

.custom-grid .row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-card-style{
    box-shadow: none;
    border:none;
}

.grid-header-bar div{
    cursor: pointer;
}

#summary-report .grid-header-bar div {
    cursor: text;
}

#summary-report .collapsible-header div {
    cursor: text;
}

#summary-report .collapsible-header-content div {
    /*line-height: 20px;*/
}


.no-background{
    background: none;
}

.padding-10{
    padding: 10px !important;
}

.padding-left-0{
    padding-left: 0 !important;
}

.padding-right-0{
    padding-right: 0 !important;
}

.padding-top-10{
    padding-top: 10px !important;
}

.padding-bottom-10{
    padding-bottom: 10px !important;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.margin-top-0{
    margin-top: 0 !important;
}

.margin-left-0{
    margin-left: 0 !important;
}

.margin-right-0{
    margin-right: 0 !important;
}

.padding-left-right-30{
    padding: 0 30px !important;
}

.padding-left-right-60{
    padding: 0 60px !important;

}

.padding-0{
    padding: 0px !important;
}

.modal .modal-footer{
    padding: 0;
}

.filter-card-navigation .side-nav a{
    height: 30px;
    line-height: 32px;
}

/*
.custom-primary-color red darken-2{
    background-color: #cf3f2f;
}*/

.page-title{
    padding: 5px 20px;
    margin: 0;
    background-color: #fafafa;
}

.fixed-action-btn{
    bottom: 62px !important;
    right: 38px !important;
}

.collapsible-header-content{
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.halign-wrapper{
    display: flex;
    justify-content: center;
}

.halign-right-wrapper{
    display: flex;
    justify-content: flex-end;
}

.small-button{
    height: 30px;
    line-height: 30px;
    padding: 0 0.8rem;
    font-size: 11px;
}
.tiny-button{
    height: 24px;
    line-height: 24px;
    padding: 0 0.8rem;
    font-size: 9px;
}

.ng-map-info-window span{
    font-size: 11px;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.66rem;
}

h3{
    font-size: 1.42rem;
}

h4{
    font-size: 1.22rem;
}

h5{
    font-size: 1.02rem;
}

h6{
    font-size: 0.82rem;
}

i.very-tiny{
    font-size: 1rem !important;
}

i.tiny{
    font-size: 1.22rem !important;
}

.tiny-div-icon{
    font-size: 1.22rem !important;
}

i.small{
    font-size: 1.5rem !important;
}

.breadcrumb {
    font-size: 16px;
    font-weight: 500;
}

span.badge {
    font-size: 0.8rem;
    border-radius: 3px;
}

.side-nav a {
    font-size: 13px;
    line-height: 48px;
}

#rosia-side-nav a{
    height:48px;
}

.custom-grid .collapsible-header{
    line-height: 2.5rem;
}

.pagination{
    background-color: #FAFAFA;
}

.pagination li{
    font-size: 13px;
}

.pagination li .input-field{
    width: 70px;
}

.pagination select{
    font-size: 13px;
    height: 2rem;
}

.pagination li i{
    font-size: 19px;
}

@media only screen and (min-width: 0) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 13px;
    }
}

.opacity-8{
    opacity: 0.8;
}


.side-nav .collapsible-body li.active{
    background-color: #E8E8E8;
}

.dropdown-content li{
    min-height: 20px;
}

.dropdown-content li a{
    font-size: 14px;
    line-height: 14px;
}

.input-field label.active{
    top: 16px;
    left: 0;
}

.input-field label.active:after{
    top: 48px;
    white-space: nowrap;
}

.modal-content select{
    margin-top: 10px;
    padding-bottom: 10px;
}

/*
.modal-content .row{
    margin-bottom: 10px;
}*/


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
    margin: 0;
}

.pagination .input-field{
    margin: 0;
    width: 70px;
}

.pagination .input-field select{
    padding: 0;
    background-color: #FAFAFA;
}

[type="checkbox"] + label {
    height: 20px;
}

.flex-column-full{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.card-header-bar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
.card-header-bar input::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
.card-header-bar input:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
.card-header-bar input:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.drag-target{
    width: 0;
}

.hide-overflow-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard-data-box{
    background-color: #00a6bb;
}

.small-font{
    font-size: 12px !important;
}

.padding-20{
    padding: 20px !important;
}

.background-green{
    background-color: #0D6E00 !important;
}

.background-deepBlue{
    background-color: #002E6B;
}

.background-red{
    background-color: #C20305;
}

.background-grayGreen{
    background-color: #303305;
}

.background-purple{
    background-color: #7D002B;
}

.background-white{
    background-color: #FFFFFF;
}

.background-lightBlue{
    background-color: #B1E9F6;
}

.background-blue{
    background-color: #00a6bb;
}

.margin-5{
    margin: 5px;
}

.grid-body-bar{
    padding: 5px 13px;
    border-bottom: 1px solid #d0d0d0;
}

.datePicker-line{
    margin-top: -6px !important;
}

#auto-complete ul{
    padding: 0 20px;
    position: absolute;
    z-index: 600;
    background: #ffffff;
    height: 125px;
    overflow-y: scroll;
}

#auto-complete ul li a{
    color: #000111;
}

.promotion-circle{
    color: #008000;
}

.promotion-border{
    border-bottom: 1px solid #ddd;
}

.small-dialog-box{
    width: 400px;
}

input[type=date]::-webkit-inner-spin-button,::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}




.line-height-dashboard-box{
    min-height: 61px;
}

.gray-border-inner-table {
    border: 3px solid #ddd;
    padding-left: 5px;
}

.padding-15{
    padding: 15px !important;
}

.border-bottom{
    border-bottom: 1px solid #dddddd;
}

.border-top{
    border-top: 1px solid #dddddd;
}

.sbd-visibility-box {
    /*margin: 8px;*/
    border-radius: 15px;
    background-color: #ffff00;
    font-weight: bold;
}

.sbd-visibility-padding {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.center-align{
    text-align: center;
}

.visibility-report-table-header {
    /*background-color: #fafafa;*/
    text-align: center;
    /*line-height: 40px;*/
    /*font-size: 20px;*/
    /*border-radius: 40px;*/
}

.custom-table tr{
    line-height: 1.5rem;
}

.sbd-visibility-cross-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: smaller;
    font-weight: bold;
    color: #ffff00;
}

.sbd-visibility-box:hover .sbd-visibility-cross-icon{
    color: #ff2000;
}

@media print
{
    body * { visibility: hidden; }
    .print-content * { visibility: visible; }
    .print-content { position: absolute; top: 0px; left: 0px; width: 110%; page-break-after: always }
}

.red-colored-div{
    color:red !important;
}


.red-colored-div a{
    display: block;
    color:red !important;
}

.black-colored-div{
    color:black !important;
}


.black-colored-div a{
    display: block;
    color:black !important;
}

.adjust-line-height {
    line-height: 23px;
}

#print-mode-title{
    text-align: center;
    font-size: 24px ;
    background-color: #fafaed;
    margin-bottom: 0px !important;
    padding-bottom: 10px

}

.black-text{
    color: #272727;
}

.table-inner-padding{
    padding: 0 20px;
}

.table-second-inner-padding{
    padding: 0 20px;
}

.dialog-box{
    font-size: larger;
    font-weight: 400;
}

.sbd-visibility-box {
    /*margin: 8px;*/
    border-radius: 15px;
    background-color: yellow;
    font-weight: bold;
}

.center-align{
    text-align: center;
}

.visibility-report-table-header {
    /*background-color: #fafafa;*/
    text-align: center;
    font-weight: bold;
    /*line-height: 40px;*/
    /*font-size: 20px;*/
    /*border-radius: 40px;*/
}

.custom-table tr{
    line-height: 1.5rem;
}

.visibility-table-element{
    background-color: #fafabe;
}

.even-visibility-element{
    background-color: #fafabe;
    /*border-right:1px solid black;*/
}

.odd-visibility-element {
    background-color: #ccc;
    /*border-right: 1px solid black;*/
}

#visibility-report td {
    padding: 15px 0px !important;
}

.sbd-distribution-box{
    border-radius: 30px !important;
}

.sbd-distribution-channel{
    font-size: 14px;
}

.vertically-center{
    display: flex;
    align-items: center;
}

.sbd-distribution-digit-box{
    width: 10px;
    border-radius: 5px;
}

.promotion-box{

}

.promotion-icon{
    font-size: smaller;
    font-weight: bold;
    color: #ffffff;
}

.promotion-box:hover .promotion-icon{
    color: #00001a;
}

.text-cursor{
    cursor: text;
}

.order-processing-children-box{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.order-processing-children-checkbox{
    height: 100%;
}

.promotion-total{
    font-weight: bold;
}